.ml-time-picker {
}

.ml-time-picker-panel {
  .ant-time-picker-panel-select {
    ul {
      // Counter the translateY on the <li>s
      margin-top: -32px;

      // Remove the extra blank space below the numbers
      padding-bottom: 0;

      li {
        // Adjust the position numbers scroll to after clicking on them
        transform: translateY(32px)
      }

      &::before {
        // Make it stick to the top of the column
        position: sticky;
        top: 0;
        background-color: #f5f5f5;
        font-weight: bold;

        display: list-item; // Make it a fake <li> so it sizes right

        // Keep it sized properly, same as the other <li>s
        padding: 0 0 0 12px;
        line-height: 32px;
        user-select: none;

        // Bring it in front of the <li>s
        z-index: 1;
      }
    }
  }
}
