.ml-table {
  //.ml-table .ant-table-cell:not(.ant-table-row-expand-icon-cell):not(th) {
  //  // Move the padding to the inner element so we can give it background color
  //  padding: 0;
  //  > :first-child {
  //    padding: 16px;
  //    height: 100%;
  //  }
  //}

  .ant-table-row-expand-icon-cell > td {
    background: #fafafa;
  }

  .blue-column-before-rows {
    background: blue;
  }

  .red-row > td {
    background: red;
  }

  .green-important-row > td {
    background: green !important;
  }

  thead tr {
    background: purple;
  }

  td.blue-column-higher-specificity {
    background: blue;
  }
}

//.ml-table .custom-color-example {
//  thead .ant-table-cell {
//    background-color: blue;
//  }
//}
